/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Feb-2019, 14:19:24
    Author     : 118377863
*/

body {

}

h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}
h4 {
  color: white;
  text-align: center;
}
h5 {
  color: white;
  text-align: center;
}
h6 {
  color: white;
  text-align: center;
}
p {

